@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

@theme {
  --color-primary: #A63A3A;
  --color-secondary: #C96A3D;
  --color-dark: #2C1A14;
  --color-light: #F4EDE6;
  --color-neutral: #C0B8B3;
  --color-neutral2: #5C504B;
  --color-white: #FAF9F7;
  --color-background: hsl(25 30% 94%);
}